<div class="header">
    <img  src="/header/pidove.png" alt="Pidove-Pokemon" />
    <h1>PidoveHome</h1>

    <div class="nav-links">
    <a routerLink="/home" class="nav-link">Inicio</a><i class="bi bi-caret-down-fill"></i>
    <a routerLink="/adopt" class="nav-link">Adoptar</a><i class="bi bi-caret-down-fill"></i>
    <a routerLink="/info" class="nav-link">Información</a><i class="bi bi-caret-down-fill"></i>
    </div>

    @if(!currentUser){
    <button routerLink="/register" class="btn btn-outline-dark">Registrarse</button>
    <button routerLink="/login" class="btn btn-outline-dark">Iniciar sesión</button>
    }@else {
      <button routerLink="/user" class="btn btn-dark btn-lg " style="color: white; margin-left: 200px;">{{currentUser.nickname}}</button>
    }
    
  </div>

