* {
    font-family: 'Poppins', sans-serif;
    color: rgb(114, 111, 111);
}

.header {
    display: flex;
    align-items: center;
     
    width: 100%;
    height: 150px;
    background-color: aliceblue;
    border-bottom: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 100px;
}

.header img {
    margin: 0 10px 0 40px;
    width: 150px;
    height: 100px;
}

.header h1 {
    margin-left: 40px;
    margin: 0 10px 0 10px;
    text-shadow: 2px 0px 3px black;

}

.header a {
    margin: 0px 20px 0px 20px;
    font-size: 30px;

}

.header a:hover {
    border-bottom: 2px solid rgb(119, 209, 236);
}

.nav-links {
    margin: 0 auto;
    display: flex;
}

.header button {
    margin-right: 10px;
}

.header button:last-child {
    margin-right: 50px;
}

.bi-caret-down-fill {
    margin-top: 10px;
}