<div class="container">
  <div class="row g-4">
    @for (pigeon of pigeons; track $index) {
      <div class="col-auto">
        <div class="card">
          <img src="{{pigeon.img}}" class="card-img-top" alt="Ave {{pigeon.id}}" />
          <div class="card-body">
            <h5 class="card-title">{{ pigeon.name }}</h5>
            <p class="card-text">{{ pigeon.description }}</p>
            <span class="badge {{pigeon.style}}">{{ pigeon.label }}</span>
          </div>
          <div class="card-footer">
            <button (click)="deletePigeon(pigeon.id)" class="btn btn-primary w-100">Adoptar</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
