.container{
  display: flex;
  justify-content: center;
  padding: 24px 12px;
  margin-top: 100px;
  
}

.card{
    width: 600px;
    height: 500px;
    position: relative;
    text-align: center;
}

.img-circle{
    border-radius: 50%;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    

    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
 
}

.img-circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card h1 {
  margin-top: 180px;
}

.card button{
    width: 200px !important;
    margin: auto;
}

.container button{
  margin-top: 14px;
  width: 100%;
  padding: 10px 12px;
  border: 0;
  border-radius: 6px;
  background: #4A90E2;
  color: white;
  cursor: pointer;
}